<!DOCTYPE html>
<html>
<head>
    <title>PREVIEW</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Подключаем библиотеку JQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--Отправляем GET запрос на сервер для получения изображения каждые 40 мс-->
    <!--Меняем атрибут у картинки для отображения следующего кадра-->
    <script>
        setInterval(function get_frame() {
        $.getJSON( "get_frame").done(function(data) {
            if (data['success'] == 200)
            {
                document.getElementsByClassName("base64")[0].src = data["last_frame"]
            }
            else
            {
                document.getElementsByClassName("base64")[0].src = "{{no_img}}";
            }
        }).fail(function(){img.id = 1;})
    }, 40);
    </script>
</head>
<body>
    <div class="header">
        <img class="logo" src="{{ url_for('static', filename='logo.png') }}">
        </div>
    <div class="content">
        <img class="base64" src="{{no_img}}">
    </div>
</body>
</html>